.git
.github
.idea
.php_cs.cache
.phpunit.result.cache
tests
var/cache/*
var/log/*
var/data/*
data/*
!data/.gitkeep
.env
.env.local
.env.*.local
docker-compose.override.yml
compose.override.yaml
README.md
docs
